#sezioneContatti
{
  height: 85%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 4%;  
}

#presentazione
{
  width: 100%;
  text-align: center;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#profili
{
   height: 80%;
   display: flex;
   text-align: center;
   flex-direction: row;
   gap: 5%;
   overflow: auto;
   justify-content: center;
   padding: 40px;
   width: 100%;
}

.profilo
{
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  box-shadow: 19px 25px 31px 0px black;
  background-color: #11999E;
  padding: 10px;
  width: 30%;
  height: 70%;
}

.imgProfilo
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.imgProfilo img
{
  width: 40%;
}

.descrizione
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 130%;
}

.descrizione h2
{
  margin-bottom: 0;
  color: white;
}

.descrizione p
{
  color: white;
  text-align: left;
}

