/* Aggiunta regole per sezione corpo della pagina */
.corpo
{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

form
{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 80%;
    font-size: 200%;
    border-style: solid;
    border-color: aqua;
    border-radius: 2%;
    overflow: auto;
    box-shadow: 0 0.5em 1em black;
    padding-left: 5%;
}

input[type="submit"], input[type="reset"]
{
    color: blue;
    padding: 15px 25px;
    border-radius: 100px;
    background-color: aqua;
    background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 87% at 26% 20%, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    cursor: pointer;
    font-size: 100%;
    font-family: Arial, Helvetica;
}

.contenutoForm
{
    width: 100%;
    padding: 2%;
}

input[type="submit"]:hover, input[type="reset"]:hover
{
    border-style: ridge;
    border-width: 7px;
}

.rigaBottoni
{
    text-align: right;
    margin-right: 5%;
    margin-top: 8%;
}

form p
{
    font-family: Arial, Helvetica;
    display: flex;
    width: 49%;
    font-size: 150%;
    text-align: left;
    margin-bottom: 2%;
    text-align: center;
    align-items: center;
}

.riga
{
    display: flex;
    justify-content: center;
    
}

input[type="text"], input[type="password"]
{
    display: block;
    text-align: center;
    margin-left: 10%;
    height: 80%;
    width: 45%;
    font-size: 50%;
}
