body
{
    overflow: auto;
}

#sezioneDettagli
{
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2%;
    font-size: 125%;
}

#sezioneCentrale
{
    border-style: solid;
    padding: 10px;
    border-style: solid;
    border-color: white;
    background-color: #11999E;
    box-shadow: 21px 27px 31px -2px black;
    border-radius: 15px;
    font-size: 100%;
    overflow: auto;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
}

#sezioneCentrale form:nth-child(1)
{
    text-align: right;
}

.riga
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

#sezioneNome
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-bottom: solid;
}

#sezioneImmagine
{
    width: 50%;
    display: flex;
    justify-content: center;
}

#sezioneSpecifichePrezzo
{
    display: flex;
    font-size: 110%;
    justify-content: space-around;
}

#specifiche
{
    border-left: solid;
    padding-left: 10px;
}

#prezzo
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#prezzo p
{
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 130%;
}

#sezioneImmagine img
{
    width: 256px;
    height: 256px;
    border-color: black;
    border-style: solid;
}

#sezioneOpzioni
{
    display: flex;
    justify-content: right;
    padding: 0;
    gap: 0px;
}

#sezioneRecensioni
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#sezioneRecensioni h2
{
    border-bottom: solid;
    width: 60%;
    text-align: center;
}

.intervento
{
    display:flex;
    flex-direction: column;
    width: 90%;
    font-size: 130%;
    padding: 25px;
    border-color: white;
    border-style: ridge;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    gap: 20px;
    border-radius: 20px;
}

.intervento p
{
    margin: 0;   
}