#sezioneCentrale
{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
    padding-bottom: 50px;
}

#sezioneRicerca
{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sezioneRicercheVeloci
{
    width: 90%;
    overflow: auto;
    border-style: solid;
    background-color: #11999E;
    box-shadow: 21px 27px 31px -2px black;
    color:white;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

#sezioneOpzioni
{
    display: flex;
    flex-direction: row-reverse;
    padding-top: 10px;
    font-size: 150%;
}

#sezioneCategorie
{
    gap: 50px;
    padding: 20px;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#sezioneCategorie > p
{
    font-size: 150%;
}

#sezioneRicerca form
{
    width: 100%;
    height: 100%;
    display: flex;
    border-style: solid;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 140%;
    background-color: #11999E;
    box-shadow: 21px 27px 31px -2px black;
    color:white;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    overflow-x: auto;
}

fieldset
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2%;
    flex: 2.5;
}

fieldset:nth-child(3)
{
    flex: 10;
}

fieldset input[type="text"]
{
    width: 100%;
    font-size: 100%;
    min-width: 150px;
    text-align: center;
}

fieldset select
{
    font-size: 70%;
    text-align: center;
}

.categoria
{
    border-style: solid;
    font-size: 180%;
    display: flex;
    box-shadow: 21px 27px 31px -2px black;
    color:white;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
    flex: 0 0 30%;
}

.categoria:hover
{
    background-color: #30E3CA;
    cursor: pointer;
    color: black;
}

.categoria form
{
    display: none;
}