html, body
{
    margin: 0;
    background-color: #E4F9F5;
    font-family: Arial, Verdana, Helvetica;
    height: 100%;
    width: 100%;    
}

fieldset
{
    border-style: none;
}

button, input[type="submit"], input[type="reset"]
{
  background-color: #30e3ca;
  border: solid #E4F9F5;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100%;
  border-radius: 30px;
  box-shadow: 5px 5px;
}

button:hover, input[type="submit"]:hover, input[type="reset"]:hover
{
    color:#E4F9F5;
    background-color: #11999e;
}

.navbar
{
    position: sticky;
    display: flex;
    flex-direction: row;
    top: 0;
    width: 100%;
    height: 15%;
    background-color: #11999E;
    align-items: center;
    box-shadow: 21px 18px 31px -2px black;
    overflow: hidden;
}

.navbar div
{
    display: flex;
    text-align: center;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.opzioneMenu
{
    flex: 1;
    font-size: 30px;
}

.opzioneLogo
{
    flex: 3;
}

.opzioneLogo a
{
    height: 100%;
}

.opzioneLogo a img
{
    height: 100%;
}

.opzioneBottone1
{
    flex: 0.5;
}

.opzioneBottone1 p
{
    font-size: 150%;
    padding: 10px;
    background-color: #30e3ca;
    border-style: solid;
    border-color:  #E4F9F5;
    border-radius: 10px;
}

.opzioneBottone2
{
    flex: 0.5;
}



