body
{
    overflow: auto;
}

#sezioneCentrale
{
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
}

#sezioneDomanda
{
    margin-top: 3%;
    width: 80%;
    max-height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    background-color: #30E3CA;
    box-shadow: 21px 27px 31px -2px black;
    gap: 30px;
    padding: 20px;   
    border-radius: 15px;
    font-size: 200%;
}

#sezioneRisposte
{
    height: 85%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    background-color: #11999E;
    box-shadow: 21px 27px 31px -2px black;
    color:white;
    border-radius: 15px;
    padding: 30px;
    font-size: 150%;
}

#sezioneRisposte form
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#sezioneRisposte form fieldset:nth-child(1)
{
    width: 100%;
    text-align: right;
    padding-right: 30px;
}

.risposta
{
    display:flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    border-style: ridge;
    border-color: white;
    font-size: 100%;
}

input[type="radio"]
{
    width: 25px;
    height: 25px;
}

textarea
{
    font-size: 130%;
}

