#sezioneCentrale
{
    width: 100%;
    height: 85%;
    display: flex;
    overflow: auto;
    flex-direction: column;
    align-items: center;
    gap: 5%;
}

#sezioneDomanda
{
    margin-top: 3%;
    width: 80%;
    max-height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    background-color: #30E3CA;
    box-shadow: 21px 27px 31px -2px black;
    color:black;
    gap: 30px;
    padding: 20px;   
    border-radius: 15px;
    font-size: 200%;
}

#sezioneRisposte
{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    background-color: #11999E;
    box-shadow: 21px 27px 31px -2px black;
    color:white;
    gap: 30px;
    padding: 20px;   
    border-radius: 15px;
    font-size: 130%;
}

.intervento
{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 20px;
    padding: 10px;
}

.intervento p
{
    margin: 0;   
}

#sezioneRisposte .intervento
{
    display:flex;
    flex-direction: column;
    width: 90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    border-style: ridge;
    border-color: white;
    font-size: 130%;
    padding: 0px 20px;
}

.parteButton
{
    width: 90%;
    text-align: right;
}

.parteButton input[type="submit"]
{
    margin:4px;
}
