#sezioneCatalogo
{
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
}

#sezioneCatalogo form
{
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(0px);
  width: 100%;
  height: 100%;
}

#sezioneCatalogo input
{
  width: 25%;
  font-size: 200%;
}