#sezioneDati
{
    position: absolute;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 2%;
    overflow: auto;
}

.riquadroInformazioni
{
    display: flex;
    flex-direction: row;
    width: 90%;
    border-style: solid;
    border-color: white;
    background-color: #11999E;
    box-shadow: 21px 27px 31px -2px black;
    justify-content: center;
    color:white;
    border-radius: 15px;
    font-size: 130%;
    color: black;
    padding: 30px;
    gap: 4%;
}

.riquadroAcquisti
{
    display: flex;
    flex-direction: column;
    width: 90%;
    border-style: solid;
    border-color: white;
    background-color: #11999E;
    box-shadow: 21px 27px 31px -2px black;
    color:white;
    border-radius: 15px;
    color: black;
    align-items: center;
    padding: 30px;
    gap: 10px;
}

span
{
    color: white;
}

p 
{
    margin: 10px;
}

.colonna
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
}

.parteButton
{
    display: flex;
    justify-content: center;
    align-items: center;
}

h4
{
    text-decoration: underline;
    color: white;
    width: 90%;
    font-size: 130%;
}

.acquisto
{
    width: 90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    border-style: ridge;
    border-color: white;
    font-size: 130%;
    padding: 10px;
}

.acquisto:hover
{
    background-color: #30E3CA;
    cursor: pointer;
}

.acquisto p
{
    margin-left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10%;
}

.acquisto p span span
{
    color: black;
}