#popupErrore
{
    position: fixed;
    display: flex;
    top: 20%;
    right: 0%;
    transition: margin-right 0.3s ease;
    gap: 20px;
    margin-right: 3%;
    box-shadow: 21px 18px 31px -2px black;
    z-index: 1;
}

#popupErrore > p
{
    margin: 0;
    text-align: left;
    font-size: 150%;
    color: white;
}

#popupErrore > p:first-child
{
    color: white;
    text-align: right;
    font-size: 170%;
    order: 2;
}

#popupErrore > p
{
    cursor: pointer;
}


