#sezioneContatti
{
  height: 85%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: auto;
}

#presentazione
{
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

#profili
{
   display: flex;
   text-align: center;
   flex-direction: row;
   gap: 5%;
   justify-content: center;
   padding: 40px;
   width: 100%;
}

.profilo
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
  box-shadow: 19px 25px 31px 0px black;
  background-color: #11999E;
  padding: 1%;
  border-style: solid;
  width: 25%;
  border-radius: 20px;
}

.profilo:hover
{
  background-color: #30e3ca;
}

.profilo:hover p, .profilo:hover h2
{
  color: black;
}

.imgProfilo
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 40%;
}

.imgProfilo img
{
  width: 100%;
  height: 100%;
}

.descrizione
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 130%;
}

.descrizione h2
{
  margin-bottom: 0;
  color: white;
}

.descrizione p
{
  color: white;
  text-align: left;
}

